@import 'variables.scss';

.banner {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background: url("../assets/img/banner-bg-02.jpg")no-repeat;
  background-position: top right;
  background-size: cover;
  padding-bottom: 2%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.name {
  -webkit-text-stroke: 1px white;
  color: rgba(30, 144, 255, 0);
  background-color: rgba(30, 144, 255, 0);

  // color: rgb(30, 144, 255);
  // background-color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 78px;
  line-height: 120%;
  letter-spacing: .2em;
  text-transform: uppercase;
  padding-left: 1%;
  margin-left: 1%;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100vw;
  // width: 100%;
  //
  background: rgba(30, 144, 255, 0.6);
  //
  // background: rgba(0, 0, 205, 0.3);
  // background: rgba(70, 130, 180, 0.3);
  // background: rgba(75, 75, 250, 0.3);
  padding: 2%;

  a {
    border-radius: 7px;
    padding: 13px 40px;
    font-weight: 500;
    color: $White;
    background: rgba(30, 144, 255, 0);
    border: 1px solid $White;

    &:hover {
      border: 1px solid $Blue;
      color: $Blue;
      background-color: $White;
      transition: .5s;
    }
  }
}

.slogan {
  margin: 0;
  padding: 0;
  width: 100%;
  color: $White;
  @include h1;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}

.slogan-desc {
  color: $White;
  @include h2;
  margin: 20px 0px;
  text-transform: uppercase;
  // font-weight: bolder;
  text-align: center;
}

/*responсive*/

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
  .banner {
    padding-bottom: 15%;
  }

  .banner-content {
    padding: 7%;
  }

  .slogan {
    @include h3;
  }

  .slogan-desc {
    @include h4;
    font-weight: normal;
  }
}

@media screen and (max-width: 575px) {

  .banner-content-bg,
  .banner-name-bg {
    margin: 10%;
  }

  .name {
    font-style: normal;
    font-weight: 500;
    // font-size: 58px;
    line-height: 120%;
    letter-spacing: .2em;
    text-transform: uppercase;
    -webkit-text-stroke: .5px white;
    margin: auto;
    ;
  }

  .banner-content {
    align-items: center;
    justify-content: center;

    a {
      font-weight: normal;
      // padding: 6px 20px;
      border: .5px solid;

      &:hover {
        border: 1px solid $White;
      }
    }
  }

  .slogan {
    @include h5;
  }

  .slogan-desc {
    @include text;
    font-weight: normal;
  }
}