@import 'default_styles.scss';
@import 'variables.scss';

.header {
  padding: 7px 10px;

  .logo {
    background-color: #00BFFF;
    height: 60px;
    border-radius: 5px;
    @include flex();
  }

  .logo-img {
    width: 55px;
    height: 55px;
    border-radius: 5px
  }

  .logo-text {
    color: $White;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    margin-right: 5px;
  }

  a {
    color: $Black;
    @include text();
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-content {
    display: flex;
  }
}

/* submenu */
@media screen and (min-width: 992px) {

  .header-menu {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    li {
      @include flex();
      height: 100%;
      border-radius: 5px;
      padding: 0 13px;
      position: relative;

      &:hover {
        background-color: $Blue;
        transition: .5s;

        a {
          color: $White;
          transition: .5s;
        }
      }
    }
  }

  .down {
    position: relative;
  }

  .header-menu {
    >.down {
      >a {
        &:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          top: 88%;
          left: 95%;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid white;
          z-index: 5;
          width: 10px;
          height: 10px;
          transform: translate(-50%, 20px);
          opacity: 0;
          transition: .3s;
        }
      }
    }
  }

  .header-menu {
    li {
      &:hover {
        a {
          &:before {
            transform: translate(-50%, 0);
            opacity: 1;
          }
        }
      }
    }
  }

  .submenu {
    display: block;
    position: absolute;
    z-index: 4;
    top: 100%;
    left: 50%;
    // height: 150px;
    // border-bottom: 2px solid rgb(64, 255, 0, 0.5);
    border-bottom: 3px solid rgb(0, 191, 255, 0.5);
    border-top: 3px solid rgb(0, 191, 255, 0.5);
    width: 300px;
    padding-left: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    background: #fff;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 1;
    transform: translate(-50%, 20px);
    transition: .3s;
    overflow: auto;

    li {
      padding: 0;
      background-color: #fff;
      height: 3em;

      a {
        color: $Black;

        &:hover {
          color: $Blue
        }
      }
    }

    img {
      height: 20px;
      width: 20px;
      margin-right: 10px;
    }
  }

  .tel {
    img {
      margin-right: 11px;
    }

    .submenu {
      width: 210px;
      // height: 110px;

      li {
        width: 100%;
      }
    }
  }

  .header-menu {
    >li {
      &:hover {
        .submenu {
          border-radius: 5px;
          padding-left: 20px;
          display: block;
          color: $Black;
          visibility: visible;
          transform: translate(-50%, 0);
          overflow: auto;

          li {
            padding: 0;
            background-color: #fff;

            a {
              color: $Black;

              &:hover {
                color: $Blue
              }
            }
          }
        }

        .tel {
          .submenu {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
        }
      }
    }
  }

  .submenu {
    &:hover {
      a {
        color: $Blue;
      }
    }
  }

  .submenu::-webkit-scrollbar {
    width: 1em;
  }

  .submenu::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }

}

/*responcive*/

@media screen and (min-width: 1440px) {
  .header {
    padding: 0.5% 5%;
  }
}

@media screen and (max-width: 575px) {
  .logo-text {
    display: none;
  }
}

@media screen and (mim-width: 992px) {
  .header-content {
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .header-content {
    align-items: start;
  }

  .submenu {
    display: none;
  }

  .header {

    .logo {
      margin-right: auto;
      justify-content: start;
    }

    .container {
      align-items: start;
    }
  }

  .header-content {
    display: flex;
    justify-content: right;
    align-items: start;
  }

  .header-menu {
    border-left: 1px dashed #32a1ce;
    padding-left: 15px;
    grid-row-start: 2;
    grid-column-start: 8;
    display: none;
    margin-left: auto;
    text-align: right;

    li {
      text-align: right;
      height: auto;
      margin-right: 0;
      padding: 0;
      margin-top: 10px;

      a {
        text-align: right;
        margin-left: auto;
      }
    }
  }

  .menu-hamburger {
    margin-left: auto;
    grid-column-start: 8;
    grid-row-start: 1;
  }

  .user-page-icon-box {
    grid-row-start: 1;
    grid-column-start: 9;
  }

  .log-out-icon-box {
    grid-row-start: 1;
    grid-column-start: 10;
  }
}

@media screen and (max-width: 575px) {
  .logo {
    max-width: 55px;
  }
}