.menu-hamburger {
  margin-left: auto;
  display: none;
  background-color: #00BFFF;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  transition: background-color .3s;
}

.menu-hamburger:hover {
  cursor: pointer;
  background-color: #87CEFA;
}

.menu-hamburger:active {
  background-color: #1E90FF;
}

.menu-hamburger::after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

.menu-hamburger img {
  margin-top: 25%;
  margin-left: 0;
}

@media screen and (max-width: 991px) {
  .menu-hamburger {
    display: block;
  }
}